<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
  <title>Monero Store ITA</title>
  {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>
<body>

    <nav>
        <div style="text-align: center; margin-top: 50px;">
        <a href="{{ url_for('index') }}">
         <img src="{{ url_for('static', filename='images/home.png') }}" alt="Home Image" width="250" height="250">
        </a>
  </div>
        <ul>
            <h3>

            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('cerca') }}">Cerca Foto</a></li>

            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
            </h3>
        </ul>
    </nav>

    <div class="content">
        {% if current_user.is_authenticated %}
            <h2>Bentornato, {{ current_user.username }}!</h2>
        {% endif %}

        <hr>

        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
    <script>
        function copyText(elementId) {
            var element = document.getElementById(elementId);
            var text = element.innerText || element.textContent; // Usa innerText o textContent a seconda del supporto del browser
            var tempElement = document.createElement("textarea");
            tempElement.value = text;
            document.body.appendChild(tempElement);
            tempElement.select();
            document.execCommand("copy");
            document.body.removeChild(tempElement);
            var label = (elementId === 'address') ? 'Indirizzo' : 'Seed';
            alert(label + " copiato negli appunti!");
        }
    </script>
    {% endblock %}
</body>
</html>
